$avatar-size: 60px;
$padding: 20px;

.chat {
  padding: $padding;
  max-width: 1080px;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;

  > .messages {
    flex: 1;
    overflow-y: auto;
    padding: 25px $padding;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;

    .message {
      display: inline-flex;

      flex-direction: column;
      max-width: 45%;

      > .title {
        color: #969696;
        margin-bottom: 3px;
      }

      & + .message {
        margin-top: 10px;
      }

      &.-assistent {
        align-self: flex-start;
        margin-left: $avatar-size + $padding;

        .text {
          background: #e8e8e8;
        }

        &.-avatar .text {
          border-top-left-radius: 0;
        }
      }

      &.-user {
        align-self: flex-end;
        margin-right: $avatar-size + $padding;

        .text {
          background: #ffe9d2;
        }

        &.-avatar .text {
          border-bottom-right-radius: 0;
        }
      }
    }

    .text {
      margin: 0;
      border-radius: 15px;
      padding: 10px 15px;
    }
  }

  > .form {
    display: flex;
    margin: $padding 0 0;

    > .button {
      margin-left: 10px;
    }
  }
}

.chat-icon {
  border-radius: 50%;
  width: $avatar-size;
  height: $avatar-size;
  position: absolute;

  &.-user {
    right: $padding;
  }

  &.-assistent {
    left: $padding;
  }

  > img {
    display: block;
    width: 100%;
  }
}

.chat-type-images {
  > .text {
    font-weight: bolder;
  }

  > .images {
    display: flex;
    flex-direction: column;
    margin-top: 6px;

    > .image {
      display: block;
      width: 100%;
      margin: 5px 0;
      max-height: 500px;
    }
  }
}

.chat-type-title {
  margin: 0;

  > .highlight {
    font-size: 16px;
    font-weight: bolder;
  }
}

.chat-type-address {
  > .text {
    font-weight: bolder;
  }

  > .images {
    display: flex;

    > .image {
      display: block;
      width: 500px;
      margin-left: 10px;
    }
  }
}

.chat-type-review {
  .review + .review {
    border-top: 1px dashed #1d1d1d;
    margin-top: 5px;
    padding-top: 5px;
  }

  > .review {
    > .info {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 10px;
      }
    }
  }

  .review-message {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  > .images {
    display: flex;

    > .image {
      display: block;
      width: 500px;
      margin-left: 10px;
    }
  }
}
