.planejamento-container {
  padding: 20px;
  max-width: 1080px;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.planejamentos-lugares {
  margin: 10px;
}
